<h1>Here are the definitions for your word </h1>
<ul>
  <% @word.definitions().each do |definition| %>
    <li><a href="/definitions/<%= definition.id%>"><%=definition.definition() %></a></li>

  <% end %>
</ul>

<a href="/words/<%=@word.id%>/definition/new">Add a new definition</a>

<a href="/">Return Home</a>
